body{
  background-color: black;
}

.form-group {
  color:white;
}

.container{
  float: right;
  padding: 200px 10px 180px 180px;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding-right: 302px;
  font-family: Helvetica Neue;
  color:white;

}

#button{
   padding-left: 255px;
   margin-top: 40px;
   border-radius: none;
}

i {
  color: grey;
  margin-top: 40px;
  text-decoration: none;
}