
.jumbotron{
  display:none;
}
h1 {
  text-align:center;
}

h2 {
  text-align:center;
}

button{

  margin: 500px;
  width: 120px;

}

blockquote {
  float:right;
  margin: 200px;
}

p {
  text-align:center;
}

  img:hover{
    background:black;
    color: black;
    border: 2px solid black;

  }

  .container {
  background: black;
  margin-top: -60px;
  margin-right: 40px;
}
/* clearfix */
.container:before,
.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}

.item {
  float: left;
}
.item img {
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  vertical-align: bottom;
}
.first-item {
  clear: both;
}
/* remove margin bottom on last row */
.last-row, .last-row ~ .item {
  margin-bottom: 0;
}
  
  #wrapper {
    padding-left: 250px;
    transition: all 0.1s ease 0s;
  }

  #sidebar-wrapper {
    margin-left: -250px;

    left: 250px;
    width: 148px;
    height: 100%;
    background: #000;
    border-right: 1px solid white;
    position: fixed;
    overflow-y: auto;
    transition: all 0.4s ease 2s;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100px;
    list-style: none;
    margin: 0;
    padding:0;
  }

  .sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
  }

  .sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
  }

  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand { 
    height: 65px;
    line-height: 60px;
    font-size: 28px;
  }

  .sidebar-nav > .sidebar-brand a {
    color: #999999;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  .sidebar-brand {
    font-family: Helvetica Neue;
  }

  #menu-toggle {
    display: none;
  }

  #twitter-widget-0 {
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  iframe {
    display:inline-block;
    margin-left: 400px;
    padding-top: 100px;
    padding-bottom: 200px;
  }
 

  
  @media (max-width: 1400px) {

    

    iframe {
      margin-right: 800px;
    }

    #wrapper{
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position:relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: 0.2s ease 0s;
    }

    .content-header {
      display: inline-block;
    }

    #menu-toggle {
      margin: 20px 20px 20px 
    }

    .item img {
    max-width: 100%;
    max-height: 100%;
  }


